<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}RestoSystem{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    </head>
    <body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">RestoSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('plats') }}">Nos plats</a>
                        </li>

                    </ul>
                    <div class="d-flex">

                        <div>
                            <a href="{{ path('cart') }}" class="nav-link">Mon panier</a>
                        </div>

                        {% if app.user %}
                        <div>
                            <a href="{{ path('account') }}" class=" nav-link">Compte <span class="text-muted">({{ app.user.nom }})</span></a>
                        </div>
                        <div>
                            <a href="{{ path('app_logout') }}" class="nav-link">Deconnexion</a>
                        </div>
                        {% else %}
                            <div>
                                <a href="{{ path('app_login') }}" class=" nav-link">Connexion</a>
                            </div>
                            <div>
                                <a href="{{ path('register') }}" class="nav-link">Inscription</a>
                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        </nav>
    </header>

        {% block content %}{% endblock %}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
